<!DOCTYPE html>
<html>
<head>
	<title>Delete Confirm</title>
<style>
.button {
	color: red;
	background-image: -webkit-linear-gradient(top, #E1E1E1, #F7F7F7);
      background-image: -moz-linear-gradient(top, #E1E1E1, #F7F7F7);
      background-image: -ms-linear-gradient(top, #E1E1E1, #F7F7F7);
      background-image: -o-linear-gradient(top, #E1E1E1, #F7F7F7);
      background-image: linear-gradient(top, #E1E1E1, #F7F7F7);
}
</style>
</head>
<body>

<h1>Hey yo {{firstname[0]['first_name'].capitalize()}}??!!</h1>
<h2>Are you sure you want to delete the following course?
<h1>Name: {{course[0]['title']}}</h1>
<h1>Description: {{course[0]['description']}}</h1>
<h2>{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}</h2>
<form action="/get_all_courses" method='POST'>

<p><input type='submit' value='No'></p>  
</form>
<form action="/delete/course" method='POST'>
<p><input type='submit' value='Delete'></p>  
</form>
</body>
</html>